{% extends "base.html" %}

{% block title %}Upload Video{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h1>Upload Video</h1>
    </div>
    <div class="card-body">
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="video">Choose a video:</label>
                <input type="file" class="form-control-file" name="video" id="video" accept=".mp4" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

<!-- Summary Card -->
<div class="card mt-4">
    <div class="card-header">
        <h1>How it Works</h1>
    </div>
    <div class="card-body">
        <p>
            Upload a your favorite music video (.mp4) to the app, and it will utilize Twelve Labs'
            Pegaus-1 model to generate a creative summary, highlighting various aspects of the song 
            and explaining it to you, in addition to discussing key topics like hidden symbolism.
        </p>
        <p>
            Previously uploaded videos and their corresponding Gen AI-powered analysis can be re-visited
            from the History tab at the top-left in the navbar.
        </p>
    </div>
</div>
{% endblock %}
